[submodule "externals/hello_imgui"]
	path = externals/hello_imgui
	url = https://github.com/pthom/hello_imgui.git
[submodule "externals/freetype"]
	path = externals/freetype
	url = https://github.com/freetype/freetype.git
